<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ODAS Bank{% endblock %}</title>
</head>
<body>
    {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
    {% endif %}
    <div id="header">
        <h1>Banking App</h1>
        <p>You are logged in as: <u>{{ user.username }}</u></p>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <br>
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'transfer_history' %}">Transfer History</a></li>
        <li><a href="{% url 'make_transfer' %}">Make a Transfer</a></li>
        <li><a href="{% url 'sensitive_data' %}">View your Sensitive Data</a></li>
        <li><a href="{% url 'change_password' %}">Change your Password</a></li>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
<script>
  let inactivityTimeout;
  
  function resetInactivityTimeout() {
      clearTimeout(inactivityTimeout);
      inactivityTimeout = setTimeout(logoutUser, 300000);
  }
  
  function logoutUser() {
      window.location.href = "{% url 'automatic_logout_info' %}";
  }
  
  document.addEventListener("mousemove", resetInactivityTimeout);
  document.addEventListener("keydown", resetInactivityTimeout);
  </script>
</html>
